/Ejercicios Java/GuiaIntroJava/build/
/Ejercicios Java/Ejercicios Parte1/JavaApplication3/nbproject/private/
/Ejercicios Java/Ejercicios Parte1/JavaApplication3/build/
/App Video POO/mascotapp/nbproject/private/
/App Video POO/mascotapp/build/
/Sueldos/Sueldos/nbproject/private/
/Sueldos/Sueldos/build/